* {
    margin: 0px;
    padding: 0px;
    border: border-box;
    font-family: Arial;
}

html,
body {
    width: 100%;
    height: 100%;
}

#navbar {
    height: 9.2vh;
    background-color: #11171f;
    color: white;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

#nav_logo {
    height: 8.8vh;
    margin-left: -1vw;
}

#logo {
    height: 8.6vh;
    background-size: cover;
}

.amazon_logo {
    height: 9vh;
    width: 9.2vw;
}

#del_location {
    height: 8.1vh;
    width: 8.5vw;
    display: flex;
    justify-content: center;
    flex-direction: column;
    cursor: pointer;
}

#del_location2 {
    display: flex;
    justify-content: center;
    cursor: pointer;
}

#del_para {
    font-size: 10px;
    color: #cccccc;
    margin-left: 1.5vw;
    cursor: pointer;
}

#del_para2 {
    font-size: 12px;
    color: #ffffff;
}

#loc_logo {
    font-size: 18px;
    width: 1.5vw;
    margin-right: 0.5vw;
}

.border {
    border: 2px solid transparent;
}

.border:hover {
    border: 2px solid white;
}

#nav_search {
    width: 42vw;
    height: 6.7vh;
    display: flex;
    justify-content: space-evenly;
}

#nav_options {
    width: 50px;
    background-color: #f3f3f3;
    font-size: 0.6rem;
    text-align: center;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    border: none;
    cursor: pointer;
}

#search {
    width: 100%;
    font-size: 16px;
    border: none;
}

#search_icon {
    width: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    background-color: #febd68;
    color: #0f1111;
    cursor: pointer;
}

#search_icon:hover {
    background-color: #faac46;
}

#language {
    width: 60px;
    height: 33px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

#flag {
    background-image: url(India-flag.png);
    height: 16px;
    width: 20px;
    margin-right: 3px;
    background-size: cover;
}

#lang_select {
    width: 40px;
    height: 15px;
    background-color: #0f1111;
    color: white;
    border: none;
    cursor: pointer;
}

#acc_para1 {
    font-size: 12px;
    color: #ffffff;
    cursor: pointer;
}

#acc_para2 {
    font-size: 14px;
    color: #ffffff;
    cursor: pointer;
}

#ord_para1 {
    font-size: 12px;
    color: #ffffff;
    cursor: pointer;
}

#ord_para2 {
    font-size: 14px;
    color: #ffffff;
    cursor: pointer;
}

#cart {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

#cart_para {
    font-size: 14px;
    color: #ffffff;
    padding: 5px;
}

#cart i {
    font-size: 1.5rem;
}

a {
    text-decoration: none;
    /* color: #ffffff; */
}

#panel {
    height: 40px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #222f3d;
}

#panel_All {
    color: #ffffff;
    padding: 5px;
    cursor: pointer;
}

#panel_options {
    width: 90%;
}

#panel_options a {
    margin-left: 15px;
    padding: 5px;
    color: #ffffff;
}

#hero_message {
    background-color: rgb(243, 238, 238);
    /* background-color: tomato; */
    color: #0f1111;
    height: 40px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 35px;
    font-size: 14px;
    position: absolute;
    top: 45%;
}

.slider {
    position: absolute;
    width: 98.7vw;
    margin: auto;
    overflow: hidden;
    cursor: pointer;
    z-index: 0;
}

.slider img {
    width: 100vw;
    display: none;
}

img.displaySlide {
    display: block;
}

.slider button {
    position: absolute;
    top: 26%;
    transform: translateY(-50%);
    font-size: 40px;
    background-color: transparent;
    color: #000;
    border: none;
    cursor: pointer;
    border: 1.8px solid transparent;
    padding: 17vh 1.7vw;
    font-weight: lighter;
}

.slider button:focus {
    border-color: rgb(0, 113, 133);
    box-shadow: -2px -2px 2px rgb(230, 227, 227),
        2px 2px 2px white;
    margin: 2px;
}

.prev {
    left: 0;
}

.next {
    right: 0;
}

#shop_section {
    display: flex;
    justify-content: space-evenly;
    position: absolute;
    z-index: 3;
    top: 63vh;
    width: 100%;
    cursor: pointer;
}

.box {
    border: 1.5px solid #11171f;
    height: 67vh;
    width: 23vw;
    color: #0f1111;
    font-size: 21px;
    text-align: center;
}

.box:hover {
    color: rgb(50, 81, 165);
}

#box1_img {
    background-image: url(img3.jpeg);
    background-size: cover;
    height: 329px;
    width: 100%;
    margin-top: 10px;
}

#box2_img {
    background-image: url(img4.jpeg);
    background-size: cover;
    height: 329px;
    width: 100%;
    margin-top: 10px;
}

#box3_img {
    background-image: url(img5.jpeg);
    background-size: cover;
    height: 329px;
    width: 100%;
    margin-top: 10px;
}

#box4_img {
    background-image: url(img6.jpg);
    background-size: cover;
    height: 329px;
    width: 100%;
    margin-top: 10px;
}

.shop_link {
    font-size: 15px;
    text-decoration: none;
    color: #007185;
}

.shop_link:hover {
    color: orangered;
}

footer {
    margin-top: 1vh;
    position: absolute;
    top: 131%;
    width: 100%;
}

#foot_panel1 {
    height: 8vh;
    background-color: #37475a;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 17px;
    color: white;
}

#foot_panel1:hover {
    background-color: #566679;
}

#foot_panel2 {
    background-color: #222f3d;
    height: 50vh;
    display: flex;
    justify-content: space-evenly;
}

.panel2_link {
    text-decoration: none;
    color: #dddddd;
    font-size: 14px;
    font-weight: lighter;
    display: block;
    margin-top: 2.2vh;
}

.panel2_link:hover {
    text-decoration: underline;
}

.foot_para {
    font-size: 16px;
    font-weight: bold;
    color: #ffffff;
    margin-top: 3vh;
}

#foot_panel3 {
    background-color: #222f3d;
    border-top: 0.5px solid #ffffff;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#foot_logo {
    background-image: url(amazonlogo.jpg);
    height: 50px;
    width: 150px;
    background-size: cover;
}

#foot_panel4 {
    background-color: #131a22;
    height: 75px;
    color: #dddddd;
    font-size: 12px;
    font-weight: lighter;
    text-align: center;
    padding: 25px;
}

.panel4_link {
    text-decoration: none;
    color: #dddddd;
    font-size: 12px;
    font-weight: lighter;
    margin-left: 10px;
}

#copywrite {
    text-align: center;
}

.panel4_link:hover {
    text-decoration: underline;
}


@media (max-width: 600px) {

    #account,
    #orders,
    #del_location,
    #language,
    #panel_p3,
    #panel_p4,
    #panel_p5,
    #panel_p6,
    #foot_para_text1,
    #foot_para_text2,
    #hero_message {
        display: none;
    }

    .amazon_logo {
        width: 16vw;
    }

    #nav_search {
        width: 77vw;
    }

    #search {
        font-size: 13px;
    }

    .slider {
        width: 97.1vw;
    }

    .slider button {
        font-size: 30px;
        top: 38%;
        padding: 10.9vh 1.7vw;
    }

    #shop_section {
        top: 40vh;
    }

    .shop_section_heading {
        font-size: smaller;
    }

    #shop_section_heading3 {
        padding-top: 20px;
    }

    .box {
        height: 72vh;
        background-color: rgba(255, 255, 255, 0.6);
    }

    footer {
        top: 120%;
    }

    .foot_para {
        font-size: 12px;
    }

    .panel2_link {
        font-size: 12px;
    }
}